@model CourseListViewModel

<partial name="_header">

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Categories")
    </div>
    <div class="col-md-9">
        <div class="row">                  
            @foreach (var course in Model.Courses)
            {    
                <div class="col-md-4">
                    @await Html.PartialAsync("_course", course)   
                </div>       
            }           
        </div>
    </div>
</div>

