@model List<Category>
@{
    string url = "";
    if (Context.Request.Path.ToString().Length >= 4)
    {
        url = Context.Request.Path.ToString().Remove(4);
    }
}
<div class="list-group">
    @if (url == "/tr/" || url == "")
    {

        <a href="/tr/courses" style="font-size: large; font-weight: 500; text-align: center" class="list-group-item list-group-item-action bg-secondary text-light">Tüm Kurslar</a>
    }
    else
    {
        <a href="/en/courses" style="font-size: large; font-weight: 500; text-align: center" class="list-group-item list-group-item-action bg-secondary text-light">All Courses</a>

    }
    @foreach (var item in Model)
    {
        <a asp-controller="Shop" asp-action="List" asp-route-category="@item.Url"
       style="font-size: large; font-weight: 500; text-align: center" class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == item.Url?"active":"")">
            @if (url == "/tr/" || url == "")
            {
                @item.NameTr
            }
            else
            {
                @item.NameEn

            }
        </a>
    }
</div>
