@model CareerSite.MvcWebUI.Models.JobListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>CategoryId</th>
    </tr>
    @foreach (var job in Model.Jobs)
   {
       <tr>
           <td>@job.Id</td>
           <td>@job.Name</td>
           <td>@job.CategoryId</td>
       </tr>
   }
</table>
