@model CourseModel

<h1 class="h3">Create Course</h1>
<hr>

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Admin" asp-action="CourseCreate" method="POST">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="NameTr" class="col-sm-2 col-form-label">Türkçe - Kurs Adı</label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="NameTr">
                <span asp-validation-for="NameTr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="NameEn" class="col-sm-2 col-form-label">English - Course Name</label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="NameEn">
                <span asp-validation-for="NameEn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="UrlTr" class="col-sm-2 col-form-label">Türkçe - Url Kısaltması</label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="UrlTr">
                <span asp-validation-for="UrlTr" class="text-danger"></span>
            </div>
        </div>
         <div class="form-group row">
            <label asp-for="UrlEn" class="col-sm-2 col-form-label">English - Url Abbreviation</label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="UrlEn">
                <span asp-validation-for="UrlEn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label  asp-for="DescriptionTr" class="col-sm-2 col-form-label">Türkçe - Açıklama</label>
            <div class="col-sm-10">
                <textarea id="editor" class="form-control" asp-for="DescriptionTr"></textarea>
                <span asp-validation-for="DescriptionTr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label  asp-for="DescriptionEn" class="col-sm-2 col-form-label">English - Description</label>
            <div class="col-sm-10">
                <textarea id="editor" class="form-control" asp-for="DescriptionEn"></textarea>
                <span asp-validation-for="DescriptionEn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label  asp-for="Price" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ImageUrl" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="ImageUrl">
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Save Course</button>
            </div>
        </div>
    </form>
    </div>
</div>

@section Scripts
{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="/modules/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
}