@model CategoryListViewModel

@{
    var categories = Model.Categories;
}

@section Categories
{
    @await Component.InvokeAsync("Categories")
}


    <div class="row">   
        @await Html.PartialAsync("_navbar", categories) 
    </div>
