<hr />
<h1 class="text-center">Giriş yapıp eğitimlere kayıt olabilirsiniz!</h1>
<hr />

<div class="d-flex justify-content-center pt-4">
    
    <a class="btn btn-lg btn-outline-success" href="/account/login">Giriş yapın.</a>
</div>
