@inject IViewLocalizer Localizer

<hr />
<h1 class="text-center">@Localizer["ConfirmEmailTitle"]</h1>
<hr />

<div class="d-flex justify-content-center pt-4">
    
    <a class="btn btn-lg btn-outline-success" href="/account/login">@Localizer["LogIn"]</a>
</div>
